body {
    background-color: bisque;
    height: 600px;
    width: 800;
}

h1 {
    margin-top: 10%;
    margin-left: 30%;
    font-size: 40px;
}

#btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    color: white;
    outline: none;
    background-color: black;
    margin-top: 15px;
    margin-left: 45%;
}

input {
    font-size: 40px;
    outline: none;
    height: 50px;
    width: 225px;
    margin-top: 15%;
    margin-left: 39%;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

section {
    border: 1px solid white;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    background-color: darkorange;
    border-radius: 10px;
}
